<h2>Find me on these platforms:</h2>

<div class="links">
  <!-- <a target="_blank" [href]="mailHref" (click)="emailClick($event)">
    <nz-tag nzColor="#D44638">
      <i style="margin-right: 0" nz-icon nzType="mail" nzTheme="fill"></i>
    </nz-tag>
  </a> -->
  <a target="_blank" href="https://facebook.com/teemofeev">
    <nz-tag nzColor="#3b5998">
      <i nz-icon nzType="facebook" nzTheme="fill"></i>
      facebook
    </nz-tag>
  </a>
  <a target="_blank" href="https://twitter.com/teemofeev">
    <nz-tag nzColor="#1da1f2">
      <i nz-icon nzType="twitter-square" nzTheme="fill"></i>
      twitter
    </nz-tag>
  </a>
  <a target="_blank" href="https://instagram.com/teemofeev">
    <nz-tag nzColor="#833AB4">
      <i nz-icon nzType="instagram" nzTheme="fill"></i>
      insta
    </nz-tag>
  </a>
  <a target="_blank" href="https://linkedin.com/in/teemofeev">
    <nz-tag nzColor="#0077b5">
      <i nz-icon nzType="linkedin" nzTheme="fill"></i>
      linkedin
    </nz-tag>
  </a>
  <a target="_blank" href="https://github.com/timadevelop">
    <nz-tag nzColor="#333333">
      <i nz-icon nzType="github" nzTheme="fill"></i>
      github
    </nz-tag>
  </a>
  <a target="_blank" href="https://gitlab.com/timadevelop">
    <nz-tag nzColor="#F87238">
      <i nz-icon nzType="gitlab" nzTheme="fill"></i>
      gitlab
    </nz-tag>
  </a>
</div>
<div class="btns">
  <a [href]="mailHref" (click)="emailClick($event)">
    <button nz-button nzSize="large">Email me</button>
  </a>
  <!-- <button nz-button nzSize="large" (click)="showPlace()">Meet me</button> -->
</div>
