<div class="links">
  <a target="_blank" href="mailto:timadevelop@gmail.com">
    <nz-tag nzColor="#D44638">
      <i style="margin-right: 0" nz-icon nzType="mail" nzTheme="fill"></i>
    </nz-tag>
  </a>
  <a target="_blank" href="https://facebook.com/teemofeev">
    <nz-tag nzColor="#3b5998">
      <i nz-icon nzType="facebook" nzTheme="fill"></i>
      facebook
    </nz-tag>
  </a>
  <a target="_blank" href="https://twitter.com/teemofeev">
    <nz-tag nzColor="#1da1f2">
      <i nz-icon nzType="twitter-square" nzTheme="fill"></i>
      twitter
    </nz-tag>
  </a>
  <a target="_blank" href="https://linkedin.com/in/teemofeev">
    <nz-tag nzColor="#0077b5">
      <i nz-icon nzType="linkedin" nzTheme="fill"></i>
      linkedin
    </nz-tag>
  </a>
  <a target="_blank" href="https://github.com/timadevelop">
    <nz-tag nzColor="#333333">
      <i nz-icon nzType="github" nzTheme="fill"></i>
      github
    </nz-tag>
  </a>
</div>
