@import (once) './theme.less';

body {
  overflow-y: scroll;
}

// hide overflow for CDK body
.cdk-global-scrollblock body {
  overflow: hidden;
}

// all images should be full-width by default
img {
  max-width: 100%;
}


// Icons
// -----
.anticon {
  margin-right: 5px;
}


// Tags
// ----
.ant-tag,
.ant-tag.has-color {
  line-height: inherit !important;
}

a .ant-tag {
  // border: 3px solid @link-color;
  // border-bottom-color: @link-color;
}

a > .ant-tag {
  cursor: pointer !important;
  line-height: 1.2;
}

// Drawer
// ------
.ant-drawer {
  &-mask {
    // background-image: linear-gradient(to right, rgba(223, 233, 243, .5) 0%, white 70%,  white 100%);
  }
  &-content-wrapper.navigation {
    width: 30% !important;
    max-width: 400px;

    // box-shadow: none !important;
    @media (max-width: @screen-lg) {
      width: 80% !important;
      max-width: 400px;
    }
    @media (max-width: @screen-xs) {
      .ant-menu {
        padding: @padding-xs;
      }
      width: 100% !important;
      max-width: 100%;
    }
  }
  &-content {
    // background: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}


// Menu
// -----
.ant-menu {
  background: transparent !important;
}

.ant-menu-item-selected > a,
.ant-menu-item-selected > a:hover {
  color: @white;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  // #e6f7ff
  // background-color: transparent !important;
  // background: linear-gradient(90deg, transparent 0%, #e6f7ff 100%);
}

.ant-menu-inline {
  padding: @padding-lg !important;
  .ant-menu-item {
    font-weight: bolder;
    &::after {
      display: none;
    }
  }
}

.ant-menu-item-group {
  border-top: 0.3px solid @border-color-split;
}

.ant-menu-item-group-title {
  font-weight: bold;
  text-transform: uppercase;
}


// Sections
// --------
section {
  max-width: @section-width-max;
  margin: auto;
  @media (max-width: @section-width-max + @padding-lg) {
    padding: @padding-lg;
  }
  @media (max-width: @screen-xs) {
    padding: @padding-xs;
  }

  .section-title {
    text-align: center;
    margin-bottom: 2em;
    .section-subtitle {
      &,
      * {
        color: @text-color-secondary;
        font-weight: normal;
        font-size: @font-size-base;
      }
    }
  }

  &.small {
    max-width: @screen-lg;
  }
}


// Title
// -----
h1.giant-title {
  font-size: 110px;
  font-weight: bold;
  @media screen and (max-width: @screen-lg) {
    font-size: 90px;
  }
  @media screen and (max-width: @screen-md) {
    font-size: 70px;
  }
  @media screen and (max-width: @screen-sm + 30) {
    font-size: 60px;
  }
  @media screen and (max-width: @screen-xs) {
    font-size: 50px;
  }
}

h4.nav-sub-title {
  color: @text-color-secondary !important;
  .scale-in-center();
}

// Button
// -----
.ant-btn-lg {
  font-weight: 500;
  line-height: 24px;
  font-size: 24px;
}

// make a lighter animation, not .1 opacity as it's made by ant team
[ant-click-animating-without-extra-node='true']::after,
.ant-click-animating-node {
  animation: none !important;
  opacity: 0.7;
}

