@import (once) './theme.less';
@import (once) './keyframes/index.less';

body {
  overflow-y: scroll;
}

img {
  max-width: 100%;
}

.anticon {
  margin-right: 5px;
}

.ant-tag,
.ant-tag.has-color {
  line-height: inherit !important;
  // padding: 10px !important;

  // color: @text-color;
  // border: none;
  // border-bottom: 3px solid @text-color;
  // background: transparent !important;
  // border-radius: 0;
  // padding: 0;
  // padding-bottom: 0px;
  // &:hover {
  //   border-bottom-color: transparent;
  // }
}

a .ant-tag {
  // border: 3px solid @link-color;
  // border-bottom-color: @link-color;
}

.spot {
  @media (max-width: @screen-xs) {
    display: none;
  }
  @media (min-width: @screen-xs) {
    // display: block;
    // object-fit: contain;
    background: url('../assets/space.svg') no-repeat;
    background-size: contain;
    background-position: bottom right;
    // .background-linear-gradient-calm();
    // .border-radius-f();
    z-index: -1;
    // opacity: 0.5;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50vw;
    height: 100vh;
  }
}

a > .ant-tag {
  cursor: pointer !important;
  line-height: 1.2;
}

.ant-btn,
.ant-btn-primary {
  font-size: @btn-font-size !important;
}

h4.nav-sub-title {
  color: @text-color-secondary !important;
  .scale-in-center();
}

.ant-drawer {
  &-mask {
    // background-image: linear-gradient(to right, rgba(223, 233, 243, .5) 0%, white 70%,  white 100%);
  }
  &-content-wrapper.navigation {
    width: 30% !important;
    max-width: 400px;

    // box-shadow: none !important;
    @media (max-width: @screen-lg) {
      width: 80% !important;
      max-width: 400px;
    }
    @media (max-width: @screen-xs) {
      .ant-menu {
        padding: @padding-xs;
      }
      width: 100% !important;
      max-width: 100%;
    }
  }
  &-content {
    // background: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.ant-menu {
  background: transparent !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  // #e6f7ff
  // background-color: transparent !important;
  // background: linear-gradient(90deg, transparent 0%, #e6f7ff 100%);
}

.ant-menu-inline {
  padding: @padding-lg !important;
  .ant-menu-item {
    font-weight: bolder;
    &::after {
      display: none;
    }
  }
}

section {
  max-width: @section-width-max;
  margin: auto;
  @media (max-width: @section-width-max + @padding-lg) {
    padding: @padding-lg;
  }
  @media (max-width: @screen-xs) {
    padding: @padding-xs;
  }

  .section-title {
    text-align: center;
    margin-bottom: 2em;
  }
}
