@import (reference) 'theme';
@import (reference) 'mixins';

:host {
  .not-found {
    display: block;
    .border-radius-f();
    // .background-linear-gradient-fire();
    // .border-radius-animation-fast();
    @media (max-width: @screen-sm) {
      border-radius: @border-radius-base;
    }
    border: @border-width-large solid @border-color-base;

    max-width: 600px;
    margin: auto;
    padding: 1em;

    nz-result {
      @media (max-width: @screen-xs) {
        padding: @padding-xs;
      }
      text-align: center;
      nz-tag {
        font-size: inherit;
        margin-right: 0;
      }
    }
  }
}
