@import (reference) 'theme';
@import (reference) 'mixins';

@import (reference) './backgrounds';

@project-item-padding: @padding-lg - 10px;

:host {
  .projects-list {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 5%;
  }

  .project-item {
    margin-bottom: @padding-lg;
    .project-content {
      min-height: 200px;
      position: relative;
      border-radius: @border-radius-base;
      border: @border-width-large solid @border-color-base;
      background-color: transparent;
      background-size: cover;
      padding: @project-item-padding; // - gutter/2
      color: @black;
      transition: box-shadow 0.4s, transform 0.4s;
      &:hover {
        transform: translateY(-3px);
        i.right-icon {
          transform: translateX(3px);
        }
      }
      .project-title {
        color: @black;
        font-weight: bold;
        .sub-title {
          display: block;
          font-size: 0.7em;
        }
        img {
          width: 24px;
          height: 24px;
        }
      }
      img {
        width: 164px;
        height: 100px;
        object-fit: cover;
        border-radius: @border-radius-base;
      }
      .project-extra,
      i.right-icon {
        position: absolute;
        bottom: @project-item-padding;
        margin: 0;
      }
      .project-extra {
        font-size: @font-size-xs;
        font-weight: bold;
      }
      i.right-icon {
        font-size: @font-size-base;
        font-weight: bold;
        right: @project-item-padding;
        transition: transform 0.3s ease;
      }
    }
  }
}
