<section>
  <!-- <h4 class="nav-sub-title">/ projects i ps i</h4> -->
  <h2 class="section-title">
    Projects I'm involved in
  </h2>

  <div nz-row nzGutter="20" class="projects-list">
    <ng-container *ngFor="let project of projects">
      <a
        *ngIf="!project.slug.startsWith('http')"
        [routerLink]="project.slug"
        nz-col
        nzSpan="24"
        nzSm="12"
        nzLg="8"
        class="project-item"
      >
        <ng-container
          *ngTemplateOutlet="projectTemplate; context: { project: project }"
        ></ng-container>
      </a>
      <a
        *ngIf="project.slug.startsWith('http')"
        [href]="project.slug"
        target="_blank"
        nz-col
        nzSpan="24"
        nzSm="12"
        nzLg="8"
        class="project-item"
      >
        <ng-container
          *ngTemplateOutlet="projectTemplate; context: { project: project }"
        ></ng-container>
      </a>
    </ng-container>

    <ng-template #projectTemplate let-project="project">
      <div
        class="project-content"
        defaultImage="assets/img-placeholder.png"
        [lazyLoad]="project.image"
      >
        <h3 class="project-title">{{ project.title }}</h3>
        <img
          *ngIf="project.icon"
          defaultImage="assets/img-placeholder.png"
          [lazyLoad]="project.icon"
        />
        <p class="project-extra">{{ project.role }}</p>
      </div>
    </ng-template>
  </div>
</section>
