<section>
  <h2 class="section-title">
    My story as a software engineer
  </h2>
  <div>
    <nz-divider nzText="Pre 2011"></nz-divider>
    <p>
      My parents bought me my first computer in 5th grade (2008). I was 11.
    </p>
    <p>
      Until 2011, I was using it for gaming & reading primarily.
    </p>
    <p>
      But one day my Windows installation showed me
      <b>The blue screen of death</b>.
    </p>
    <p>
      It took me more than one week to reinstall Windows
      <i nz-icon nzType="smile"></i>. Why? Because I couldn't buy an
      official Windows software license from Microsoft.
    </p>
    <p>
      Trying to understand how did I broke my workstation, I decided that I need
      to use antivirus software. Another week was used to find a way to use
      Anti-virus software for free.
    </p>
  </div>
  <div>
    <nz-divider nzText="2011. Text markup"></nz-divider>
    <p>
      <a href="https://vk.com" target="_blank">Vk.com</a> (formerly
      vkontakte.ru) is my first social network. Before that, I had been using
      messengers like <b>ICQ</b>, Skype.
    </p>
    <p>
      Back in 2011, I started creating and trying to grow vk.com groups. Someday
      I saw a group with a "beautiful" graphical menu inside a group
      description. A month later I learned how to make them. I used Photoshop &
      Vk markup language.
    </p>
    <p>
      Two months later I ended up selling my "ability" to make these menus:
    </p>
    <img src="assets/story/vk_menu_prices.png" />
    <p>These menus are so creepy...</p>
  </div>
  <div>
    <nz-divider nzText="2012. Games"></nz-divider>
    <img src="assets/story/nfs_world.jpg" />
    <p>
      Since 2012 I started playing
      <a href="https://twitter.com/nfsworld?lang=en" target="_blank"
        >NFS World</a
      >
      a lot. I didn't like to spend a lot of time leveling my account up. That's
      why I ended up using a lot of cheats & bots to 'pimp up' my account. I had
      been blocked a couple of times, but it was easy to restore my account
      using EA support. Sorry, EA.
    </p>
  </div>
  <div>
    <nz-divider nzText="2013. First lines"></nz-divider>
    <p>
      Since Summer 2013 I was playing
      <a href="http://tankionline.ru/" target="_blank">Tanki Online</a> more
      than I had been playing NFS. The same story with cheats, but these guys
      were a little bit tougher than EA. They were blocking my accounts forever.
      After the (n)th lifetime ban I sad "Ok, no problem". In a month I started
      trading game accounts.
    </p>
    <p>
      In June 2013 I started studying HTML & CSS. It's crazy but the site I was
      learning from is still alive:
      <a href="https://ruseller.com/lessons.php?rub=1">Ruseller</a>. I was
      making poor websites using html, css & photoshop sprites.
    </p>
    <img src="assets/story/ruseller_menu_styles.png" />

    <p>
      Reading a lot about web development I got interested in Linux and started
      using Ubuntu in a dual-boot mode.
    </p>
  </div>
  <div>
    <nz-divider nzText="2013 Q4. Asking"></nz-divider>
    <p>
      At the end of 2013, I was asking developers out there a lot of questions.
      A lot means >20/person. 'Where should I start from?', 'Which language
      should I learn first?' etc. I don't know how these people were standing me
      out, but thank them.
    </p>
    <p>
      After a lot of discussions, I started learning Python & reading Mark
      Lutz's books.
    </p>
    <p>
      At the end of 2013, I found out about
      <a href="http://sorax.org/">Sorax</a>. His materials taught me about
      javascript, CoffeeScript, CSS preprocessors. Thank you.
    </p>
  </div>

  <div>
    <nz-divider nzText="2014. Dead PC"></nz-divider>
    <p>
      In 2014 I started playing an awful game on vk.com/games platform. There
      was no way to use cheats because the game was hosted by vk.com. I joined a
      clan and was leveling my account up playing with more experienced gamers
      (like 150+ lvl teammates, while I was on lvl 30). I learned a lot about
      human beings playing this game because being a part of a clan means you
      SHOULD communicate with your teammates. A lot of them were above 25 y.o.
      and I was just observing their lives.
    </p>
    <p>
      Summer 2014 I decided to learn C/C++ :D. And guess what? June 2014 My PC
      was burned out due to voltage drop.
    </p>
    <p>
      Living without a PC was hard. Especially after the 1st of September 2014.
      I was using my cousin's laptop, thank god our houses were in the same
      neighborhood.
    </p>
    <p>
      Despite the problem, I started studying c/c++ syntax using books. It was
      hard, but I kept reading some Russian book about c/c++ syntax. Somehow I
      knew they use it in Russian Universities to teach CS students.
    </p>
    <p>
      Later I decided to make money and buy parts I needed to repair my PC. I
      was still trading 'tankionline.ru' accounts, but I was taking only a small
      commission. I needed ~ 2300 UAH = 200$.
    </p>
    <p>
      I found a pretty bad way of making money using online games I played. I
      won't describe it here, but if someone is interested in that, ask me in
      person about "the plan".
    </p>
    <img src="assets/story/tankionline_login.jpg" />
    <p>
      By 25.08.2014 I had ~1700 UAH.
    </p>
    <img src="assets/story/25_aug_2014.png" />
    <p>
      On 09.09.2014 I ordered new parts for my machine:
    </p>
    <img src="assets/story/new_pc_order.png" />
    <pre>
      Во вторник, 09.09.2014, НБУ установил следующие валютные курсы:
      Доллар США (USD) – 12.9261 грн.
    </pre>
    <p>
      During the whole story with a broken PC, I learned a lot about
      Motherboards, Processors, RAM and other basic parts of this magic box.
    </p>
  </div>
  <div>
    <nz-divider nzText="2014. Rehabilitation"></nz-divider>
    <p>
      Later, on 12th Oct 2014 <a href="http://sorax.org/">@sorax</a> published
      his
      <a href="https://www.youtube.com/watch?v=65O-kmgmRI4">Spotlight #01</a>
      about Node.js. Take a look at this spotlight, it's the most effective and
      beautiful lecture about node.js. It's pretty hard to stay uninspired after
      such kind of material, so I decided to write a web service using node.js
    </p>
    <p>
      That's how I wrote <a routerLink="/projects/tavle">Tavle</a>. This project
      was written in a <b>very</b> bad way. I didn't care about support, code
      structure, architecture, callback hells, etc. I pitched my project to
      @microsoft Bizspark in 2015 and got the prize :)
    </p>
    <p>
      Notice how much practice in coding I had until this moment of my life: no
      practice except shitty websites a was building on localhost. After
      publishing <b>tavle.ru</b> I understood that no matter how much
      theoretical knowledge you have it's useless without a huge amount of
      practice.
    </p>
  </div>
  <div>
    <nz-divider nzText="2015. Math"></nz-divider>
    <p>
      May 2015 Graduated school. Exams. Exams. Exams.
    </p>
    <p>
      Oct 2015 was notified that I passed all exams and have a chance to study
      at the Faculty of Mathematics and Informatics, Sofia University. My
      parents were super supportive, they bought me a laptop and gave me all the
      things I needed to be able to study for my degree.
    </p>
    <p>
      Migration. Lectures. 2 Month later: <b>Math.</b> The fact that I should
      learn so much math was terrifying. Most students were from math-oriented
      gymnasiums.
    </p>
    <p>
      Unfortunately, I wasn't. That's why I decided to sit down at home
      (dormitory) and study the whole program by myself.
      <b><i>?Fortunately</i>, it worked out!</b> I passed all exams on the first
      try.
    </p>
  </div>
  <div>
    <nz-divider nzText="2016 - 2020"></nz-divider>
    <p>
      During this period I learned a lot about tech, programming, software
      engineering. I met a lot of amazing people, they taught me a lot. I joined
      the <a routerLink="/projects/brainhub">@brainhub</a> team.
    </p>
    <p>
      Summer 2016 I had a huge interest in C++ and graphic libraries like SFML,
      SDL, imgui... Later I attended a course about advanced C++, where I was
      learning things like type_traits, move semantics, virtual functions, etc.
      Honesty, I miss those days. Writing C++ code is more exciting than writing
      JS, Python, or any other language.
    </p>
    <p>
      Since I started working with the Brainhub team, I have been writing web
      applications except a small number of projects with Qt, Unity, and Kotlin.
      I wrote an OpenGL visualization for gestures tracking, using Bluetooth and
      our <a routerLink="/projects/gr">palm-bracelet (GR)</a>. A little bit
      later I was helping to write the old version of brainhub website using
      AngularJS (1.x). We wrote a health measurements sharing platform, using
      Kotlin, React, Django and Node.js for the realtime part. It's kinda tricky
      to re-render the React view on high frequencies, but there are some
      exciting techniques for that. Since then, I'm in love with Django & DRF.
    </p>
    <p>
      A lot of other projects were written using React or Angular (TS), Django
      or Node.js. I prefer using Angular & Django, but of course, there are
      scenarios when you should use other tools. I've spent a lot of time on
      Angular SSR, there are a lot of small pitfalls and if you're interested in
      helping the Angular community with SSR problems checkout
      <a href="https://github.com/angular/angular/issues/23427">
        this github issue </a
      >.
      <br />
      <a href="https://github.com/django/channels">Django channels</a> and the
      whole asgi topic is pretty interesting and huge. I ended up using gunicorn
      for WebSocket communication over daphne, but I still have a lot of
      questions. Maybe nowadays it's easier to use Node.js for that kind of
      thing, but I'm still interested in combining DRF & Websockets, there is a
      lot of opportunity for 'the WebSocket world'.
    </p>
    <p>
      You can find information about other projects
      <a routerLink="/projects">here</a>
    </p>
    <p>
      As soon as I joined Brainhub, my teammate advised me to use
      <a href="https://www.opensuse.org/">openSUSE</a>. I was impressed by
      zypper and overall openSUSE ecosystem. But lastly, all of us migrated to
      <a href="https://www.archlinux.org/">archlinux</a>. I started using
      <a href="https://i3wm.org/">i3 - a tiling window manager</a>. Today my
      daily driver is arch + i3 / urxvt + tmux + neovim / vscode / chrome.
    </p>
    <p>
      Even though I have never been attending lectures, my university gave me
      the <b>time</b> and my study program. I used a lot of Berkeley, MIT,
      Harvard public resources for studying. Blogs, private resources, Facebook
      groups, youtube channels driven by amazing human beings are the most
      <b>important</b> sources of knowledge in the Internet era.
    </p>
    <p>
      I learned data structures, algorithms, advanced c++ techniques,
      object-oriented, aspect-oriented, functional programming, haskell, scheme,
      networks, statistics, ai, basic algebra, geometry, mathematical analysis,
      discrete structures, os, elixir, databases, containers, project
      management, software architecture, requirements analysis, QA and more
      using only
      <b>google</b> and my study program.
    </p>
    <p>
      As for me, <nz-tag nzColor="purple">self-education & practice</nz-tag>
      is the best way to acquire any knowledge I need.
    </p>
    <p>
      I earned my software engineering degree in Jan 2020. Check out my
      university results:
      <a href="assets/story/uni_results.pdf" target="_blank">uni_results.pdf</a>
    </p>
  </div>
  <div>
    <nz-divider nzText="Conclusion"></nz-divider>
    <p>
      Work.
    </p>
  </div>
</section>
