<section class="small intro">
  <div class="intro-text">
    <div [class.animation-container]="isBrowser">
      <!-- <img
        style="height: 10vh; animation: none; transform: scaleX(-1);"
        src="assets/scooby.gif"
      /> -->
      <h1 nz-title class="giant-title">Hey friend,<br />my name is Vlad.</h1>
    </div>
    <div>
      <h2>
        I love cars, road trips, and solving problems using software.
      </h2>
      <p></p>
    </div>
  </div>
  <div nz-row nzJustify="center" class="cta-container">
    <a href="mailto:timadevelop@gmail.com">
      <button nz-button nzType="primary" nzSize="large">Email me</button>
    </a>
    <h2>
      <a routerLink="/projects"
        ><i nz-icon nzType="fire" nzTheme="fill"></i> see my projects</a
      >
    </h2>
  </div>
  <div class="ride-container">
    <img
      class="large-border border-radius-base"
      src="assets/ride.gif"
      title="GIF by https://www.gsimfab.com/"
    />
  </div>
</section>

<section style="margin-top: 70px;" class="small">
  <div nz-row nzJustify="center" nzAlign="middle" class="subscribe">
    <div nz-col nzSpan="24">
      <h1>Get news from me in your inbox</h1>
      <p><b>Sign up to my email list</b></p>
      <a target="_blank" href="http://eepurl.com/g2awd9">
        <button nz-button nzType="primary" nzSize="large">Subscribe</button>
      </a>
    </div>
  </div>
</section>
