@import (reference) 'theme.less';
@import (reference) 'mixins.less';

:host {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  display: block;
  position: relative;
  section {
    @media (min-width: @section-width-max + @padding-lg) {
      padding-top: @padding-lg;
    }
  }
  * {
    z-index: 9;
  }
  // padding: @padding-lg 0;

  // @media (max-width: @screen-xl) {
  //   padding: @padding-lg;
  // }

  // padding-bottom: 0;
  // max-width: @screen-xxl;
  // margin: auto;
  // display: block;

  a h1 {
    @media (max-width: 370px) {
      font-size: 1.9em;
    }
    @media (min-width: 370px) {
      font-size: 2.1em;
    }
  }

  .menuButton {
    float: right;
    font-size: @heading-1-size;
    // color: @text-color-inverse;
    i {
      color: @normal-color;
      vertical-align: text-top;
      transition: transform @animation-duration-slow + 0.1s @ease-base-out;
      &.loading {
        animation: spin 2s ease 0 infinite;
      }

      &.rotated {
        transform: rotate(90deg);
      }
    }
    &:hover {
      opacity: 0.7;
    }
  }

}

[nz-menu] {
  [nz-menu-item] {
    font-size: 20px;
  }
}
