@import (reference) 'theme.less';
@import (reference) 'mixins.less';

:host {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  display: block;
  position: relative;
  margin-bottom: 1em;

  section {
    @media (min-width: @section-width-max + @padding-lg) {
      padding-top: @padding-lg;
    }
  }
  * {
    z-index: 9;
  }
  a h1 {
    margin-bottom: 0;
    // @media (max-width: 370px) {
    //   font-size: 1.9em;
    // }
    // @media (min-width: 370px) {
    //   font-size: 2.1em;
    // }
  }

  .main-menu {
    &.right {
      float: right;
    }
    border: none;
    font-weight: bold;

    .menuButton i {
      font-size: @heading-1-size;
      vertical-align: bottom;
      margin-right: 0;
    }

    * {
      vertical-align: middle;
    }

    [nz-menu-item] {
      // font-size: @heading-1-size / ;
      border: none !important;
      &:last-child {
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0;
      }

      @media (max-width: @screen-md) {
        display: none;
        &.always-visible {
          display: initial;
        }
      }
    }
  }

  .menuButton {
    float: right;
    // color: @text-color-inverse;
    i {
      font-size: @heading-1-size;
      color: @normal-color;
      vertical-align: text-top;
      transition: transform @animation-duration-slow + 0.1s @ease-base-out;
      &.loading {
        animation: spin 2s ease 0 infinite;
      }

      &.rotated {
        transform: rotate(90deg);
      }
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

[nz-menu].drawer-menu {
  [nz-menu-item] {
    font-size: 20px;
  }
}
