<div class="work-table">
  <div nz-row nzJustify="center" nzType="flex">
    <div nz-col nzSpan="16" class="monitor big">
      <a
        class="monitor-link"
        target="_blank"
        href="https://github.com/timadevelop/linux_cofiguration"
      >
        <img
          defaultImage="assets/img-placeholder.png"
          src="https://raw.githubusercontent.com/timadevelop/linux_cofiguration/master/result.png"
        />
        <div class="monitor-link-description">
          <i nz-icon nzType="teemofeev:archlinux"></i>& i3
        </div>
      </a>
    </div>
  </div>
  <div nz-row nzJustify="space-between" nzType="flex">
    <div nz-col nzSpan="7" class="small monitor">
      <a
        class="monitor-link"
        target="_blank"
        href="https://en.wikipedia.org/wiki/Requirements_elicitation"
      >
        <img
          defaultImage="assets/img-placeholder.png"
          src="assets/keyboard.jpg"
        />
        <div class="monitor-link-description">
          <p>Requirements elicitation</p>
        </div>
      </a>
    </div>
    <div nz-col nzSpan="7" class="small monitor">
      <a class="monitor-link" routerLink="/story">
        <img
          defaultImage="assets/img-placeholder.png"
          src="https://media.giphy.com/media/l1J9LMNeWISnddECA/giphy.gif"
        />
        <div class="monitor-link-description">
          <p>Self-education</p>
        </div>
      </a>
    </div>
    <div nz-col nzSpan="7" class="small monitor">
      <a
        class="monitor-link"
        target="_blank"
        href="https://www.drive2.ru/users/teemofeev/"
      >
        <img [src]="'assets/img-placeholder.png' || 'assets/drift.gif'" />
        <div class="monitor-link-description">
          <p>Cars</p>
        </div>
      </a>
    </div>
  </div>
  <div class="table-holder">
    <div class="table">
      <div class="keyboard"></div>
    </div>
  </div>
</div>
