<div class="work-table">
  <div nz-row nzJustify="center" nzType="flex">
    <div nz-col nzSpan="16" class="monitor big">
      <a
        class="monitor-link"
        target="_blank"
        href="https://github.com/timadevelop/linux_cofiguration"
      >
        <img
          defaultImage="assets/img-placeholder.png"
          lazyLoad="https://raw.githubusercontent.com/timadevelop/linux_cofiguration/master/result.png"
        />
        <div class="monitor-link-description">
          I love <i nz-icon nzType="teemofeev:archlinux"></i> & i3
        </div>
      </a>
    </div>
  </div>
  <div nz-row nzJustify="space-between" nzType="flex">
    <div nz-col nzSpan="7" class="small monitor">
      <a class="monitor-link" target="_blank" href="https://en.wikipedia.org/wiki/Requirements_elicitation">
        <img
          defaultImage="assets/img-placeholder.png"
          lazyLoad="https://blog.trello.com/hs-fs/hubfs/cards%20in%20list%20power-up.gif?width=256&name=cards%20in%20list%20power-up.gif"
        />
        <div class="monitor-link-description">
          <p>Requirements elicitation</p>
        </div>
      </a>
    </div>
    <div nz-col nzSpan="7" class="small monitor">
      <a
        class="monitor-link"
        routerLink="/story"
        >
        <img
          defaultImage="assets/img-placeholder.png"
          lazyLoad="https://media.giphy.com/media/l1J9LMNeWISnddECA/giphy.gif"
        />
        <div class="monitor-link-description">
          <p>Self-education</p>
        </div>
      </a>
    </div>
    <div nz-col nzSpan="7" class="small monitor">
      <!-- <iframe
        width="100%"
        height="100%"
          defaultImage="assets/img-placeholder.png" lazyLoad="https://www.youtube.com/embed/lmHh9lQQPjk?controls=0"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe> -->
      <a
        class="monitor-link"
        target="_blank"
        href="https://www.drive2.ru/users/teemofeev/"
      >
        <img
          defaultImage="assets/img-placeholder.png"
          lazyLoad="assets/drift.gif"
        />
        <div class="monitor-link-description">
          <p>Cars</p>
        </div>
      </a>
    </div>
  </div>
  <div class="table">
    <div class="keyboard"></div>
  </div>
</div>
