<section>
  <!-- <h4 class="nav-sub-title">/ projects i ps i</h4> -->
  <nz-spin nzTip="Loading..." [nzSpinning]="loading">
    <div *ngIf="project; else notfoundtemplate">
      <h2 nz-title class="section-title">
        {{ project?.title }}
        <br />
        <p class="section-subtitle"><a routerLink="..">Click to go back to projects</a></p>
      </h2>
      <div class="project-wrapper">
        <label class="project-image">
          <input type="checkbox" name="toggle" />
          <span
            [style.background-image]="
              'url(' + (project?.image || 'assets/img-placeholder.png') + ')'
            "
          ></span>
          <small class="hint">Click to hide the image</small>
        </label>
        <!-- <input type="checkbox" class="project-sub-background" /> -->
        <div
          *ngIf="project"
          nz-row
          nzType="flex"
          nzAlign="stretch"
          class="project-content-wrapper"
        >
          <div class="project-content">
            <div nz-col nzSpan="24">
              <h1 class="project-title">
                {{ project?.title }}
                <img *ngIf="project?.icon" [src]="project?.icon" />
                <span class="project-role">
                  as a <nz-tag nzColor="#303c52">{{ project?.role }}</nz-tag>
                </span>
              </h1>
            </div>
            <div nz-col nzSpan="24" nzOrder="3">
              <p class="secondary-tags">
                <a
                  target="_blank"
                  [href]="si.href"
                  *ngFor="let si of project.links"
                >
                  {{ si.text }}
                </a>
                <span
                  *ngIf="
                    project?.stack?.length > 0 && project?.links?.length > 0
                  "
                >
                  |
                </span>
                <span *ngFor="let si of project.stack">
                  <i *ngIf="si.icon" nz-icon [nzType]="si.icon"></i>
                  {{ si.tech }}
                </span>
              </p>
            </div>
            <div nz-col nzSpan="24" nzOrder="4">
              <markdown
                class="markdown"
                [src]="project?.description"
              ></markdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-spin>
</section>

<ng-template #notfoundtemplate>
  <teemofeev-not-found
    *ngIf="!loading"
    title="Project not found"
    [extra]="notfoundextratemplate"
  ></teemofeev-not-found>
</ng-template>

<ng-template #notfoundextratemplate>
  <a routerLink="..">
    <button nz-button nzType="primary">Back to projects</button>
  </a>
</ng-template>
