<section>
  <!-- <h4 class="nav-sub-title">/ projects i ps i</h4> -->
  <nz-spin nzTip="Loading..." [nzSpinning]="loading">
    <div *ngIf="project; else notfoundtemplate">
      <h4 style="text-align: center; margin-bottom: 2em">
        <a routerLink="..">My projects</a> / {{ project?.title }}
      </h4>
      <div
        class="project-wrapper"
        [ngStyle]="{ backgroundImage: 'url(' + project?.image + ')' }"
      >
        <div
          *ngIf="project"
          nz-row
          nzType="flex"
          nzAlign="stretch"
          class="project-content"
        >
          <div nz-col nzSpan="24" [nzOrder]="1" [nzMd]="{ span: 12, order: 0 }">
            <h1 class="project-title">
              {{ project?.title }}
              <span class="project-role">
                as <nz-tag nzColor="#303c52">{{ project?.role }}</nz-tag>
              </span>
            </h1>
          </div>
          <div nz-col nzSpan="24" [nzMd]="12">
            <img *ngIf="project?.icon" [src]="project?.icon" />
          </div>
          <div nz-col nzSpan="24" nzOrder="3">
            <p class="project-description">
              {{ project?.description || 'No description yet.' }}
            </p>
          </div>
          <!-- <div nz-col nzSpan="24" nzOrder="4">
            <div class="stack">
              <p class="stack-title">Links</p>
              <a
                target="_blank"
                [href]="si.href"
                *ngFor="let si of project.links"
              >
                <nz-tag [nzColor]="si.color">
                  {{ si.text }}
                </nz-tag>
              </a>
            </div>
            <div class="stack">
              <p class="stack-title">Stack</p>
              <nz-tag *ngFor="let si of project.stack" [nzColor]="si.color">
                <i *ngIf="si.icon" nz-icon [nzType]="si.icon"></i>
                {{ si.tech }}
              </nz-tag>
            </div>
          </div> -->
          <!-- <div nz-col nzSpan="24" nzOrder="4">
            <p class="small-tags">
              Links
              <a
                target="_blank"
                [href]="si.href"
                *ngFor="let si of project.links"
              >
                <nz-tag [nzColor]="si.color">
                  {{ si.text }}
                </nz-tag>
              </a>
            </p>
            <p class="small-tags">
              Stack
              <nz-tag *ngFor="let si of project.stack" [nzColor]="si.color">
                <i *ngIf="si.icon" nz-icon [nzType]="si.icon"></i>
                {{ si.tech }}
              </nz-tag>
            </p>
          </div> -->
          <div nz-col nzSpan="24" nzOrder="4">
            <p class="secondary-tags">
              <a
                target="_blank"
                [href]="si.href"
                *ngFor="let si of project.links"
              >
                  {{ si.text }}
              </a>
              <span *ngIf="project?.stack?.length > 0 && project?.links?.length > 0">
                |
              </span>
              <span *ngFor="let si of project.stack">
                <i *ngIf="si.icon" nz-icon [nzType]="si.icon"></i>
                {{ si.tech }}
              </span>

            </p>
          </div>
        </div>
      </div>
    </div>
  </nz-spin>
</section>

<ng-template #notfoundtemplate>
  <teemofeev-not-found
    title="Project not found"
    [extra]="notfoundextratemplate"
  ></teemofeev-not-found>
</ng-template>

<ng-template #notfoundextratemplate>
  <a routerLink="..">
    <button nz-button nzType="primary">Back to projects</button>
  </a>
</ng-template>
