@import (reference) 'theme';

:host {
  .footer {
    margin-top: 4%;
    p {
      text-align: center;
      font-size: @font-size-sm;
      font-weight: bold;
      mix-blend-mode: screen;
      // color: #6F6FBB;
      .heart {
        color: #d63031;
        margin-right: 0;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
